.vis-item:not(.vis-dot){
    height: 50Px !important;
}

/* Bloc incertain début, certain fin */
.vis-item.vis-range:not(.details) {
    --size: 4px;
    --R: calc(var(--size)*1.28);
   -webkit-mask:
      radial-gradient(var(--R) at calc(1.8*var(--size)) 50%, #000 99%, #0000 101%) 
        100% calc(50% - 2*var(--size))/100% calc(4*var(--size)),
      radial-gradient(var(--R) at calc(-.8*var(--size)) 50%, #0000 99%, #000 101%) 
        var(--size) 50%/100% calc(4*var(--size)) repeat-y;
   mask:
      radial-gradient(var(--R) at calc(1.8*var(--size)) 50%, #000 99%, #0000 101%) 
        100% calc(50% - 2*var(--size))/100% calc(4*var(--size)),
      radial-gradient(var(--R) at calc(-.8*var(--size)) 50%, #0000 99%, #000 101%) 
        var(--size) 50%/100% calc(4*var(--size)) repeat-y;

    
    
    background: black;
    
}

.vis-item.vis-range:not(.details)::before {
    content: '';
    border-top: 2px solid black !important;
    border-bottom: 2px solid black !important;
    border-right: 4px solid black !important;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: #d5ddf6;
    -webkit-mask:
      radial-gradient(var(--R) at calc(1.8*var(--size)) 50%, #000 99%, #0000 101%) 
        100% calc(50% - 2*var(--size))/100% calc(4*var(--size)),
      radial-gradient(var(--R) at calc(-.8*var(--size)) 50%, #0000 99%, #000 101%) 
        var(--size) 50%/100% calc(4*var(--size)) repeat-y;

    mask:
      radial-gradient(var(--R) at calc(1.8*var(--size)) 50%, #000 99%, #0000 101%) 
        100% calc(50% - 2*var(--size))/100% calc(4*var(--size)),
      radial-gradient(var(--R) at calc(-.8*var(--size)) 50%, #0000 99%, #000 101%) 
        var(--size) 50%/100% calc(4*var(--size)) repeat-y;

    transform: translate(2px) ;
}

/* Bloc incertain fin, certain début */
/*.vis-item.vis-range:not(.details) {
  --size: 4px;
  --R: calc(var(--size)*1.28);
 -webkit-mask:
    radial-gradient(var(--R) at calc(1.8*var(--size)) 50%, #000 99%, #0000 101%) 
      100% calc(50% - 2*var(--size))/100% calc(4*var(--size)),
    radial-gradient(var(--R) at calc(-.8*var(--size)) 50%, #0000 99%, #000 101%) 
      var(--size) 50%/100% calc(4*var(--size)) repeat-y;
  
  
  background: black;
  
}

.vis-item.vis-range:not(.details)::before {
  content: '';
  border-top: 2px solid black !important;
  border-bottom: 2px solid black !important;
  border-right: 4px solid black !important;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: #d5ddf6;
  -webkit-mask:
    radial-gradient(var(--R) at calc(1.8*var(--size)) 50%, #000 99%, #0000 101%) 
      100% calc(50% - 2*var(--size))/100% calc(4*var(--size)),
    radial-gradient(var(--R) at calc(-.8*var(--size)) 50%, #0000 99%, #000 101%) 
      var(--size) 50%/100% calc(4*var(--size)) repeat-y;

  mask:
    radial-gradient(var(--R) at calc(1.8*var(--size)) 50%, #000 99%, #0000 101%) 
      100% calc(50% - 2*var(--size))/100% calc(4*var(--size)),
    radial-gradient(var(--R) at calc(-.8*var(--size)) 50%, #0000 99%, #000 101%) 
      var(--size) 50%/100% calc(4*var(--size)) repeat-y;

  transform: translate(2px) ;
}*/

/* Bloc incertain début et fin, certain milieu */
/*.vis-item.vis-range:not(.details) {
    border: 2px solid black !important;
    background: radial-gradient(circle,#d5ddf6 0%, rgba(0, 213, 255, 0) 100%);
    box-sizing: border-box;
}*/
