/* split.js css */
.split {
    display: flex;
    width: 100%;
    height: 100vh;
}

.split.vertical{
    flex-direction: column;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}

.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    cursor: row-resize;
}

/* components style */
#questionnaire, #canvas, #bricks {
    margin: 15px;
    overflow-y: auto;
}

.hidden{
    display: none;
}

.custom-bar{
    background-color: rgb(231, 104, 104) !important;
    width: 4px !important;
    cursor: col-resize !important;
}

.card{
    border: 2px solid black;
    border-radius: 5px;
    width: fit-content;
    padding: 15px;
    float: left;
    margin-left: 10px;
}

.input_list > p{
    float: left;
    margin: 0;
    margin-left: 5px;
}

.highlight.green {
    box-shadow: rgba(150, 235, 150, 0.4) 0px 5px, rgba(150, 235, 150, 0.3) 0px 10px, rgba(150, 235, 150, 0.2) 0px 15px, rgba(150, 235, 150, 0.1) 0px 20px, rgba(150, 235, 150, 0.05) 0px 25px;
    font-weight: bold !important;
}

.highlight.red {
    box-shadow: rgba(231, 104, 104, 0.4) 0px 5px, rgba(231, 104, 104, 0.3) 0px 10px, rgba(231, 104, 104, 0.2) 0px 15px, rgba(231, 104, 104, 0.1) 0px 20px, rgba(231, 104, 104, 0.05) 0px 25px;
    font-weight: bold !important;
}

.highlight.blue {
    box-shadow: rgba(110, 139, 230, 0.4) 0px 5px, rgba(110, 139, 230, 0.3) 0px 10px, rgba(110, 139, 230, 0.2) 0px 15px, rgba(110, 139, 230, 0.1) 0px 20px, rgba(110, 139, 230, 0.05) 0px 25px;
    font-weight: bold !important;
}

/* Surbrillance drag */
.vis-group.line_13{
    
}

.vis-center{
}

.vis-center .vis-group:not(.line_13){
    
}

#mask{
    
}
