.container {

    dialog {
        pointer-events: none;
        opacity: 0;
        appearance: none;
        border: none;
        padding: 2.125rem;
        background-color: var(--muted-beige);
        border-radius: 2.5rem;
        box-shadow: 0 0.25rem 0.625rem var(--secondary-grey);
        backdrop-filter: blur(10rem) saturate(2);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        transition: opacity 0.3s ease;

        &:open {
            pointer-events: all;
            opacity: 1;   
        }

        &::backdrop {
            /* backdrop-filter: blur(.2rem); */
            background-color: transparent;
            transition: all 0.3s ease;
        }

        form {
            display: flex;
            flex-direction: column;
        }
    }

}

/* dialog::backdrop {
    backdrop-filter: blur(2rem);
} */