@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-VariableFont_wght.ttf");
}

:root {
  --primary-beige: #fdfaf4;
  --primary-dark: #2e2e2e;
  --primary-light: white;
  --primary-grey: #fafafa;
  --primary-grey: #f2f2f2;
  --primary-grey: color-mix(in srgb, var(--primary-light) 60%, transparent);
  --secondary-grey: color-mix(in srgb, var(--primary-dark) 15%, transparent);
  --muted-beige: color-mix(in srgb, var(--primary-beige) 60%, transparent);

  --label-orange: #eabca5;
  --label-red: #eaada5;
  --label-blue: #a5beea;
  --label-green: #b7e3b6;

  --default-shadow: 0 0.25rem 0.625rem var(--secondary-grey);
}

* {
  user-select: none;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-dark);
  background-color: var(--primary-beige);
  /* for the summary modal */
  /* overflow-y: hidden; */
  /* padding: 1rem; */
  /* margin: 1rem; */
}

h2,
h3,
h4 {
  font-family: "Raleway", serif;
  font-weight: 400;
}

input,
button,
select {
  -webkit-tap-highlight-color: transparent;
}

.default-card {
  padding: 2.125rem;
  background-color: var(--muted-beige);
  border-radius: 2.5rem;
  box-shadow: 0 0.25rem 0.625rem var(--secondary-grey);
  backdrop-filter: blur(10rem) saturate(2);
}

button {
  background-color: transparent;
  appearance: unset;
  border: none;
}

button:hover {
  cursor: pointer;
}

.secondary-button,
.btn-group,
.primary-button {
  color: var(--primary-dark);
  padding: 0.5rem;
  padding: 1rem;
  padding-block: 0.5rem;
  border-radius: 2rem;
  background-color: var(--primary-grey);
  /* box-shadow: 0px 0.15rem 0.1rem var(--secondary-grey); */
  box-shadow: 0 0.25rem 0.625rem var(--secondary-grey);

  &:has(button) {
    padding: 0rem;
    backdrop-filter: blur(1rem);

    button {
      padding: 0.7rem;
    }
  }

  /* TODO: create a proper primary button component */
  &.primary {
    background-color: var(--primary-dark);
    box-shadow: unset;
    color: var(--primary-beige);
  }

  &.delete {
    background-color: var(--label-red);
  }
}

.primary-button {
  background-color: var(--primary-dark);
  box-shadow: unset;
  color: var(--primary-beige);
}

.btn-group {
  display: flex;
  gap: 0.5rem;
}

.invisible-button {
  padding: 1rem;
}

.button-with-icon {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.7rem;
}

/* ========================================
   QUESTIONS
   ======================================== */

.question {
  margin-bottom: 15px;
  padding: 10px;
  border-left: 3px solid var(--label-orange);
  /* background-color: #f8f9fa; */
  border-radius: 4px;
}

/* ========================================
   INPUTS
   ======================================== */

.question-input,
.question input {
  margin: 0.5rem 0;
  border: none;
  padding-block: 0.5rem;
  padding-inline: 0.75rem;
  border-radius: 2rem;
  width: 100%;
  background-color: var(--primary-grey);
  box-shadow: 0 0.25rem 0.625rem var(--secondary-grey);
  font-size: 0.8rem;
  font-family: inherit;
}

.question-input:focus-visible,
.question input:focus-visible {
  outline: none;
}

.question-input:disabled,
.question input:disabled {
  background-color: #e9ecef;
  cursor: not-allowed;
}

/* dev mode toggle - closes when clicked outside */
.dev-speed-dial {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.5rem;
  position: relative;

  #toggle-dev-btn {
    cursor: pointer;
    z-index: 2;
  }
  button {
    z-index: 1;
    position: absolute;
    right: 0;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out, right 1s ease-in-out;
  }

  &:focus-within {
    button {
      position: static;
      right: 1rem;
      opacity: 1;
      pointer-events: auto;
      transform: scale(1);
    }
  }
}
