/*.vis-item:not(.vis-dot){
    height: 50Px !important;   
}*/

/*#timeline{
    transform: rotate(90deg);
    width: 100% !important;
    height: 100% !important;
}*/

.vis-item.vis-range:not(.details) {
   background-color:ghostwhite;
   border-radius: 10px !important;
}

.vis-label.vis-group-level-0 .vis-inner{min-height: 35px;padding-top: 15px !important;padding-bottom:15px !important}


/* couleur de fond trajectoire */
/*.vis-foreground > .vert, .vis-label.vert{
    background-color: rgba(0, 128, 0, 0.288);
}

.vis-foreground > .rouge, .vis-label.rouge{
    background-color: rgba(255, 0, 0, 0.288);
}

.vis-foreground > .bleu, .vis-label.bleu{
    background-color: rgba(0, 0, 255, 0.288);
}*/



/* Bloc incertain début, certain fin */
/*.vis-item.vis-range:not(.details) {
    border: 2px dashed black !important;
    background-color: whitesmoke;
    box-sizing: border-box;
}

.vis-item.vis-range:not(.details)::after {
    content: "";
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: 50%; 
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    box-sizing: border-box;
}*/

/* Bloc incertain fin, certain début */
/*.vis-item.vis-range:not(.details) {
    border: 2px dashed black !important;
    background-color: whitesmoke;
    box-sizing: border-box;
}

.vis-item.vis-range:not(.details)::after {
    content: "";
    position: absolute;
    top: -2px;
    right: 50%;
    bottom: -2px;
    left: -2px; 
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    box-sizing: border-box;
}*/

/* Bloc incertain début et fin, certain milieu */
/*.vis-item.vis-range:not(.details) {
    border: 2px dashed black !important;
    background-color: whitesmoke;
    box-sizing: border-box;
}

.vis-item.vis-range:not(.details)::after {
    content: "";
    position: absolute;
    top: -2px;
    right: 10%;
    bottom: -2px;
    left: 10%; 
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    box-sizing: border-box;
}*/

