#dashboard-root {
  display: none;
  overflow-y: auto;
}

body.sidebar-open #dashboard-root {
  display: block;
}

body.sidebar-closed #dashboard-root {
  display: block;
}

.dashboard {
  min-height: 100vh;
  margin: 0;
  padding: 40px;
  transition: margin-left 0.3s ease;

  button {
    margin-block: 2rem;
  }

  .surprise-gif {
    width: 20rem;
    border-radius: 2rem;
    margin-top: 2rem;
    box-shadow: 2rem 2rem #d98951, 4rem 4rem #fbefdf;
    margin-left: 10rem;
  }
}
