/* split.js css */
.split {
    display: flex;
    width: 100%;
    height: 100vh;
}

.split.vertical{
    flex-direction: column;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}

.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    cursor: row-resize;
}

/* components style */
#questionnaire, #canvas, #bricks {
    margin: 15px;
    overflow-y: auto;
}

.hidden{
    display: none;
}

.custom-bar{
    background-color: var(--primary-dark);
    width: 0.15rem !important;
    border-radius: 2rem;
    cursor: col-resize !important;
    position: relative;

    /* bullet */
    &::after {
        content: "";
        width: 1rem;
        aspect-ratio: 1 / 1;
        display: block;
        position: absolute;
        border-radius: 10rem;
        top: 0;
        right: 50%;
        transform: translateX(50%);
        background-color: inherit;
        pointer-events: none;
        box-shadow: 0rem 0.08rem var(--primary-beige);

    }
}

.card{
    border: 2px solid black;
    border-radius: 5px;
    width: fit-content;
    padding: 15px;
    float: left;
    margin-left: 10px;
}

.input_list > p{
    float: left;
    margin: 0;
    margin-left: 5px;
}

.highlight.green {
    box-shadow: rgba(150, 235, 150, 0.4) 0px 5px, rgba(150, 235, 150, 0.3) 0px 10px, rgba(150, 235, 150, 0.2) 0px 15px, rgba(150, 235, 150, 0.1) 0px 20px, rgba(150, 235, 150, 0.05) 0px 25px;
    font-weight: bold !important;
}

.highlight.red {
    box-shadow: rgba(231, 104, 104, 0.4) 0px 5px, rgba(231, 104, 104, 0.3) 0px 10px, rgba(231, 104, 104, 0.2) 0px 15px, rgba(231, 104, 104, 0.1) 0px 20px, rgba(231, 104, 104, 0.05) 0px 25px;
    font-weight: bold !important;
}

.highlight.blue {
    box-shadow: rgba(110, 139, 230, 0.4) 0px 5px, rgba(110, 139, 230, 0.3) 0px 10px, rgba(110, 139, 230, 0.2) 0px 15px, rgba(110, 139, 230, 0.1) 0px 20px, rgba(110, 139, 230, 0.05) 0px 25px;
    font-weight: bold !important;
}

/* Surbrillance drag */
.vis-group.line_13{
    
}

.vis-center{
}

.vis-center .vis-group:not(.line_13){
    
}

#mask{
    
}

.vis-group {
    /* background-color: red; */
    border: none !important;
}

.vis-panel.vis-center {
    border: none;
}

.vis-panel.vis-left {
    border: none;
}

.vis-panel.vis-top, .vis-panel.vis-bottom {
    border: none;
}

.vis-label.vis-group-level-0 {
    background-color: var(--primary-grey);
    border: none !important;
    border-radius: 2rem;
    padding: 0;
    border-block: 0.2rem solid transparent !important;
    border-radius: 2rem !important;
    background-clip: padding-box;
    /* padding: 1rem; */

    .vis-inner {
        border: none !important;
        border-radius: 0rem !important;
        /* background-color: red !important; */
        /* padding: 1rem !important; */
    }

    &.expanded {
        border-bottom: none !important;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    } 
}

.vis-labelset .vis-label .vis-inner {
    padding: 1rem;
    /* border-radius: 0rem !important; */
}

.vis-ltr .vis-label:not(.vis-nesting-group):not(.vis-group-level-0) {
    background-color: var(--primary-grey);

    &:last-of-type {
        background-color: red !important;
        border: 2px solid red;
        border-radius: 2rem !important;
    }
}

.vis-ltr .vis-label:not(.vis-nesting-group):not(.vis-group-level-0):last-child {
    background-color: red !important;
}

.vis-group-level-unknown-but-gte1 {
    border: none;
    border-bottom: none !important;
}

.vis-ltr .vis-label.vis-nested-group .vis-inner {
    padding-left: 0rem;
    list-style-type: disc;
    display: list-item;
    list-style-position: inside;

    &::marker {
        color: color-mix(in srgb, var(--primary-grey), black 20%);
    }
}
/* 
.vis-label.vis-nested-groupvis-label.vis-group-level-unknown-but-gte1 {
    background-color: red !important;
} */

.vis-item.vis-range {
    margin-inline: 1rem;
    padding-block: .3rem;
    /* position: relative; */

}

.vis-item.vis-range.green {
    background-color: #EABCA5;
    border: none;
    border-inline: 0.2rem solid transparent;
    /* border-style: outset; */
    border-radius: 2rem !important;
    background-clip: padding-box;
    /* border-radius: 2rem; */

    /* margin-inline: 1rem; */
    /* padding-block: 1rem; */
}