/* split.js css */
.split {
    display: flex;
    width: 100%;
    height: 100vh;
}

.split.vertical{
    flex-direction: column;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}

.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    cursor: row-resize;
}

/* components style */
#questionnaire, #canvas, #bricks {
    margin: 15px;
    overflow-y: auto;
}

.hidden{
    display: none;
}

.custom-bar{
    background-color: var(--primary-dark);
    width: 0.15rem !important;
    border-radius: 2rem;
    cursor: col-resize !important;
    position: relative;

    /* bullet */
    &::after {
        content: "";
        width: 1rem;
        aspect-ratio: 1 / 1;
        display: block;
        position: absolute;
        border-radius: 10rem;
        top: 0;
        right: 50%;
        transform: translateX(50%);
        background-color: inherit;
        pointer-events: none;
        box-shadow: 0rem 0.08rem var(--primary-beige);

    }
}

.card{
    border: 2px solid black;
    border-radius: 5px;
    width: fit-content;
    padding: 15px;
    float: left;
    margin-left: 10px;
}

.input_list > p{
    float: left;
    margin: 0;
    margin-left: 5px;
}

.vis-group {
    border: none !important;
}

.vis-panel.vis-center {
    border: none;
}

.vis-panel.vis-left {
    border: none;
}

.vis-panel.vis-top, .vis-panel.vis-bottom {
    border: none;
}

.vis-label.vis-group-level-0 {
    background-color: var(--primary-grey);
    border: none !important;
    border-radius: 2rem;
    padding: 0;
    border-block: 0.2rem solid transparent !important;
    border-radius: 2rem !important;
    background-clip: padding-box;
    /* padding: 1rem; */

    .vis-inner {
        border: none !important;
        border-radius: 0rem !important;
    }

    &.expanded {
        border-bottom: none !important;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    } 
}

.vis-labelset .vis-label .vis-inner {
    padding: 1rem;
    /* border-radius: 0rem !important; */
}

.vis-label.vis-nested-group.vis-group-level-unknown-but-gte1 {
    border: none;
    border-bottom: none !important;
    background-color: var(--primary-grey);
}

.vis-ltr .vis-label.vis-nested-group .vis-inner {
    padding-left: 0rem;
    list-style-type: disc;
    display: list-item;
    list-style-position: inside;

    &::marker {
        color: color-mix(in srgb, var(--primary-grey), black 20%);
    }
}

.vis-panel.vis-left .vis-content .vis-labelset .vis-label.vis-nesting-group.expanded.vis-group-level-0 ~ .vis-label.vis-nested-group:not(:has(~ .vis-label.vis-nested-group)) {
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;

.vis-item.vis-range {
    margin-inline: 1rem;
    padding-block: .3rem;
    /* position: relative; */

}

.vis-item.vis-range.green {
    background-color: #EABCA5;
    border: none;
    border-inline: 0.2rem solid transparent;
    border-radius: 2rem !important;
    background-clip: padding-box;
}
}