.split {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 1rem;
  gap: 1rem;
  /* height: 100vh; */
}

.split.vertical {
  flex-direction: column;
  justify-content: space-between;
  gap: unset;
  padding: unset;
  position: relative;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: col-resize;
}

.gutter.gutter-vertical {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
  cursor: row-resize;
}

#questionnaire {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow-y: auto;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-grey) transparent;
  /* max-width: 20rem; */
}

.hidden {
  display: none;
}
