/* split.js css */
.split {
    display: flex;
    width: 100%;
    height: 100vh;
}

.split.vertical{
    flex-direction: column;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}

.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    cursor: row-resize;
}

/* components style */
#questionnaire, #canvas, #bricks {
    margin: 15px;
    overflow-y: auto;
}

.hidden{
    display: none;
}

.custom-bar{
    background-color: var(--primary-dark);
    width: 0.15rem !important;
    border-radius: 2rem;
    cursor: col-resize !important;
    position: relative;

    /* bullet */
    &::after {
        content: "";
        width: 1rem;
        aspect-ratio: 1 / 1;
        display: block;
        position: absolute;
        border-radius: 10rem;
        top: 0;
        right: 50%;
        transform: translateX(50%);
        background-color: inherit;
        pointer-events: none;
        box-shadow: 0rem 0.15rem var(--primary-beige);

    }
}

.card{
    border: 2px solid black;
    border-radius: 5px;
    width: fit-content;
    padding: 15px;
    float: left;
    margin-left: 10px;
}

.input_list > p{
    float: left;
    margin: 0;
    margin-left: 5px;
}

/* .highlight.green {
    box-shadow: rgba(150, 235, 150, 0.4) 0px 5px, rgba(150, 235, 150, 0.3) 0px 10px, rgba(150, 235, 150, 0.2) 0px 15px, rgba(150, 235, 150, 0.1) 0px 20px, rgba(150, 235, 150, 0.05) 0px 25px;
    font-weight: bold !important;
}

.highlight.red {
    box-shadow: rgba(231, 104, 104, 0.4) 0px 5px, rgba(231, 104, 104, 0.3) 0px 10px, rgba(231, 104, 104, 0.2) 0px 15px, rgba(231, 104, 104, 0.1) 0px 20px, rgba(231, 104, 104, 0.05) 0px 25px;
    font-weight: bold !important;
}

.highlight.blue {
    box-shadow: rgba(110, 139, 230, 0.4) 0px 5px, rgba(110, 139, 230, 0.3) 0px 10px, rgba(110, 139, 230, 0.2) 0px 15px, rgba(110, 139, 230, 0.1) 0px 20px, rgba(110, 139, 230, 0.05) 0px 25px;
    font-weight: bold !important;
} */

/* Surbrillance drag */
/* .vis-group.line_13{
    
} */

/* .vis-center{
} */

/* .vis-center .vis-group:not(.line_13){
    
} */

/* #mask{
    
} */

.vis-group {
    /* background-color: red; */
    border: none !important;
}

.vis-panel.vis-center {
    border: none;
}

.vis-panel.vis-left {
    border: none;
}

.vis-panel.vis-top, .vis-panel.vis-bottom {
    border: none;
}

.vis-label.vis-group-level-0 {
    background-color: var(--primary-grey);
    border: none !important;
    border-radius: 2rem;
    padding: 0;
    border-block: 0.4rem solid transparent !important;
    border-radius: 2rem !important;
    background-clip: padding-box;
    /* padding: 1rem; */

    .vis-inner {
        border: none !important;
        border-radius: 0rem !important;
        /* background-color: red !important; */
        /* padding: 1rem !important; */
    }

    &.expanded {
        border-bottom: none !important;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    } 
}

.vis-label.vis-nesting-group.expanded::before {
    content: ''
}

.vis-label.vis-nesting-group.collapsed::before {
    content: ''
}

.vis-group {
  overflow: hidden;
  transition: height 0.3s ease, opacity 0.3s ease;
}

.vis-group.collapsing,
.vis-group.expanding {
  will-change: height, opacity;
}

.vis-group.hidden {
  opacity: 0;
  height: 0 !important;
  pointer-events: none;
}

.vis-labelset .vis-label .vis-inner {
    padding: 1rem;
    /* border-radius: 0rem !important; */
}

.vis-label.vis-nested-group.vis-group-level-unknown-but-gte1 {
    border: none;
    border-bottom: none !important;
    background-color: var(--primary-grey);
}

.vis-ltr .vis-label.vis-nested-group .vis-inner {
    padding-left: 0rem;
    list-style-type: disc;
    display: list-item;
    list-style-position: inside;

    &::marker {
        color: color-mix(in srgb, var(--primary-grey), black 20%);
    }
}


.vis-label.vis-nested-group:has(+ .vis-nesting-group.vis-group-level-0),
.vis-label.vis-nested-group:last-of-type {
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
    /* border-bottom: 0.6rem solid transparent !important; */

}

.vis-item.vis-range {
    --label-color: red;

    background-color: var(--label-color) !important;

    margin-inline: 1rem;
    padding-block: .3rem;

    /* hiding the truncated text effect */
    /* overflow-x: hidden; */
    /* Update: We can't use it with overflow-y: visible, and since we want to show an element below the label for the highlight, the logic of the fade effect had to change */
    /* overflow-y: visible; */
    transition: filter 0.3s ease-in-out;

    &::before {
        content: "";
        background-color: var(--label-color);
        /* background-image: radial-gradient(red 10%, transparent); */
        /* background-color: red; */
        bottom: -0.2rem;
        height: 0.8rem;
        pointer-events: none;
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        width: 80%;
        filter: blur(0.3rem) saturate(1.1);
        /* filter: url(#noiseFilter); */
        
        z-index: -10 !important;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }
    &::after {
        /* content: ""; */
        background-color: transparent;
        bottom: -0.4rem;
        height: 0.6rem;
        pointer-events: none;
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        width: 80%;
        /* filter: blur(0.3rem) saturate(0.6); */
        backdrop-filter: blur(10px);
        filter: blur(0.2rem);
        /* z-index: -10 !important; */
        z-index: 99 !important;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        filter: url(#noiseFilter) brightness(1.9);
        mix-blend-mode:multiply;
        /* mix-blend-mode: multiply ; */
        /* -webkit-mask: linear-gradient(white, white); */
    mask-composite: intersect;

        
    }



}

.svg-noise {
  width: 0;
  height: 0;
}

.vis-item.vis-range.green, .vis-item.vis-range.red, .vis-item.vis-range.blue {
    --label-color: #EABCA5;

    border: none;
    border-inline: 0.2rem solid transparent;
    border-radius: 2rem !important;
    background-clip: padding-box;
}

.vis-item.vis-range.red {
    --label-color: #a5beea;

}

.vis-item.vis-range.blue {
    --label-color: #eaada5;
}

.highlight {
    filter: saturate(1.4) brightness(0.98);
    
    &::before, &::after {
        opacity: 1 !important;
    }

}

.vis-item-overflow {
    position: relative;
    border-radius: 4rem;
    /* overflow: visible !important; */
    /* making sure it looks good on tiny elements */
    border-inline-end: inset .2rem transparent;
    /* background-color: blue; */

    &::before {
        content: "";
        /* background-image: linear-gradient(to right,transparent 10%,var(--label-color)); */
        /* background-image: linear-gradient(to right,transparent 0% 10%,red 50%); */
        background-image: linear-gradient(to right,transparent 0% 10%,var(--label-color) 70%);
        height: 100%;
        pointer-events: none;
        position: absolute;
        border-radius: 4rem;
        /* logical right */
        inset-inline-end: -0.2rem;
        width: 20%;
        min-width: 2rem;
        max-width: 4rem;
        z-index: 20;

    }
}